:root{
    --cor-principal: #e2adad;
    --cor-secundaria: #5a0707;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(#00030C);
}