:root {
    --cor-principal: #ff00aa;
    --cor-secundaria: #5a0707;
    --botao-azul: #167BF7;
    --cor-de-fundo: #000205;
}

body {
    background-color: var(--cor-de-fundo);
}

.principal {
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-principal);
    display: block;
}

.container.botao2{
    background-color: transparent;
    border: 2px solid white;
}